h1 {
  text-align: center;
  text-decoration: underline;
  color: #000;
  font-size: xx-large;
}
h2 {
  text-align: center;
  text-decoration: underline;
  color: #000;
  font-size: xx-large;
}
p {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  font-size: x-large;
  background: yellow;
}
body {
  background: greenyellow;
}
h3 {
  font-size: x-large;
  color: #000;
  font-style: inherit;
}
ul {
  font-style: inherit;
  font-size: x-large;
  color: #000;

}
